.page {
  background: #6fc1fd;
}

.header {
  border: 1px solid red;
  background: #fff;
  margin-top: 52px;
  width: 100%;
  height: 33px;
}

.airplane-svg {
  margin-left: 5%;
  margin-top: -10px;
}

.header__phone {
  margin-left: 80%;
}

.header__menu {
  margin-left: 5%;
}

.svg-groups {
  display: flex;
}

.svg-elements {
  display: flex;
  margin-top: -47px;
}
